:root {
  --bg-color: #0b161f;
  --main-color: #a16dd4;
}

.social a {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 50%;
}

.social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
  border-radius: 50%;
  overflow: hidden;
}

.social a:hover::before {
  width: 100%;
}

/* animation */

.text-animation {
  position: relative;
  display: inline;
}

.text-animation h2 {
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.text-animation h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  animation-delay: 2s;
}

/* keyframes animation */
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -40rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

/* about section */
#about-animation img {
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
  background-size: cover;
  background-position: center;
}

#about-animation .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);

  border-radius: 50%;
  border-top: 0.2rem solid rgb(27, 25, 25);
  border-bottom: 0.2rem solid rgb(27, 25, 25);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);

  animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
